* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-image:url("https://lh3.googleusercontent.com/21jrMXax2OyXceSJWPSBUnZnqa-TlIe_ize7WfMMXogo4Tuv1GVMEyH8WMUjkcxkO1zRW2e5UQcoNIh9t2ryjQp29UgZBLSIvpA-x1GEn5k03AHANRQj05MuSFnF-ZOg4bNfWUxQaq4=w240");
	background-repeat : no-repeat ; 
	background-color: #F1F1F1;
	color: #15213C;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.main-container {
	position: absolute;
	top: 20%;
	left: 8%;
	right: 6%;
	padding-bottom: 15vh;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: #15213C;
	font-size: 38px;
	font-weight: 700;
}

h2 {
	color: #15213C;
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
	line-height: 28px;
}

p {
    color: #252525;
	font-size: 16px;
	font-weight: 500;
    line-height: 26px;
	padding-bottom: 15px;
}

.footer {
	font-size: 14px;
	padding-bottom: 8px;
}

a {
	color:  #252525;
    border-bottom: 1px dotted #1141E2;
	text-decoration: none;
}

a:hover {
	color: #1141E2;
	transition-duration: 0.3s;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

