* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-image:url("https://lh3.googleusercontent.com/74c5F5hA_3SPw8mSZ_ZEMHjdXbtjtOmGitY2qaPAljf4lxChaNFiO3m16gaH60LTttj_KMuMXZE8qOmXa85y83yWRcLn9CkUKMCYLiSWpnCa9glpLL_FcbTO5eEi2T5-GnlRw2bvqC0eiYDriIZ3UmXPqGLgKinaOBHhV2VF5-4lXUeDyTTwo0d7OmfXkQ1eAcEahXxKndagDPVnil77x1RXt50IS8vJJeiQ2av_GprCNiyryqp66dDeiRIszv1oV9GGvMLcyWkCEHsR6mA7qdqTr7dzdmcHfbo7EmizOzt_Qr4y-fpupW4IJT5NpGGxTqRGQG3J_8dB3DGMmleZT7C9MaY0ruDwDUmfx3IO7ru96gFZSepI0oEf1Tit8_AMlVRJ-xlRzLTXPrIqWZjDDbwxgfnW3DBpro_hbaiD_z2A4-_XOs91tf0OprodnN2cN-Z7UmCq-20fmlJIwG71MB_tiqzAaYzpPpd-DI7Hx8QCoH7fKSC2EVEczPAmMRtV9XoLSMDiWJ-FPVb_u-HZohe0WflZ6_0iB39H7pb-q0c2f4Mzxu_Wk_RB-hv7rRnU1yDEGtyIKq5pGjK46PpPSnltPHuSPwu88RsCs5uvWTP0Ao2VwldNKlA8r2mnfF75gUDkLDBIxUkPjSBcLWwvKOZ3npdf_pmGJqoKS-Pl9Y9bdxmgx6X42PVIn_CV8A=w592-h789-no?authuser=0")
	background-color: #F1F1F1;
	color: #15213C;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.main-container {
	position: absolute;
	top: 20%;
	left: 8%;
	right: 6%;
	padding-bottom: 15vh;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: #15213C;
	font-size: 38px;
	font-weight: 700;
}

h2 {
	color: #15213C;
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
	line-height: 28px;
}

p {
    color: #252525;
	font-size: 16px;
	font-weight: 500;
    line-height: 26px;
	padding-bottom: 15px;
}

.footer {
	font-size: 14px;
	padding-bottom: 8px;
}

a {
	color:  #252525;
    border-bottom: 1px dotted #1141E2;
	text-decoration: none;
}

a:hover {
	color: #1141E2;
	transition-duration: 0.3s;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

