* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-image: url("https://lh3.googleusercontent.com/c9lXNnINw0c8ArhuZUaew3dMRk2ZSwmCBViFarEdlj_X8vKQn3CiHFJCsuU3Cy2Q68ONPCHaVDoFA9HgfrejYfr8Ttx8PxLdcduFcCNUC5eoEXBp5Fb7JPit389ADaQT9OqIio2eQ89PeZkI-Ac4zL_Otd1UkMO-qixjjhpJQ0F7hguZJgqwBwiDKv0WklHiZFdhlV5NbrF9sU27iWCctebHL9Wda9bz-uboupJOwckxL_D92NrxElT6_-RDkvgFSVSEErOYTgJp_EAw2elMxtN3fCH8me5et4NqvWHCIObfJog4wS93v8sWC8E3-HieRusiZ4YWplo6HcxXxmXbkymFQC67bqw3Zh_v3Ay_LbiLl9tFswo6HcG0xMiP0-KqRic8U1__SbFoU0K-pIfx2CwokIHLAO8MjSH4F-rrTLvOP43nmEPZ-zdUWqyYppcvjwn7ySY-3x3P1zKyf-8lzM4tg9X3bjApYTNhirsabH3K0LY0nBVFVEfF_4nCAKppd7R8YzrVmfDU-N26WdVpfcFjcjU0s_6kFnQ5aSe94G1LoizafWEazNQGEBBVddBnLLuapaXWEwqvnIDde-0lRwvu8mUFRfSq6wpBMM5lfNYJtahm-vTy992YsSztbtDdDMTLuxZFRKd0A9nMYtmFvTSnkcdAMvj3fLgdn7w3_ljWq7Pvbg6pAyiBg1QiXA=w592-h789-no?authuser=0");
	background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
	background-color: #F1F1F1;
	color: #15213C;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.main-container {
	position: absolute;
	top: 20%;
	left: 8%;
	right: 6%;
	padding-bottom: 15vh;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: #15213C;
	font-size: 38px;
	font-weight: 700;
}

h2 {
	color: #15213C;
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
	line-height: 28px;
}

p {
    color: #252525;
	font-size: 16px;
	font-weight: 500;
    line-height: 26px;
	padding-bottom: 15px;
}

.footer {
	font-size: 14px;
	padding-bottom: 8px;
}

a {
	color:  #252525;
    border-bottom: 1px dotted #1141E2;
	text-decoration: none;
}

a:hover {
	color: #1141E2;
	transition-duration: 0.3s;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

